- name: Get secret from AWS Secrets Manager
  id: get_secret
  run: |
    secret=$(aws secretsmanager get-secret-value --secret-id my_example_secret --query SecretString --output text)
    username=$(echo $secret | jq -r .username)
    password=$(echo $secret | jq -r .password)
    echo "USERNAME=$username" >> $GITHUB_ENV
    echo "PASSWORD=$password" >> $GITHUB_ENV
  env:
    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
    AWS_DEFAULT_REGION: us-east-1
